# Data Preparation of Stackoverflow surveys for job satisfaction

This notebook looks at stackoverflow surveys duriring five consequent years from 2015-2020 with the aim to realize general job satisfaction of developers according to the surveys [here](https://insights.stackoverflow.com/survey)

#### Run the cells below to get started.

In [611]:
# Importing python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

survey = "./surveys_results/survey_results_public_"
mod_df = "./modified_results/modified_survey_results_public_"

There are 5 surveys results stored as CSV format in "surveys_results" folder. Each year there are differnces in questionier asked from IT persons/Develpoers to answer them. But there are some questions repeated in each year. Our focus is to use fields in the results that belong to such questions like country of residence or salary.
First we look to country of residence from the 2015 and 2016.

In [612]:
# Reading country results from 2016 and 2015
df_2015 = pd.read_csv(survey+"2015.csv.gz", usecols=['Country'], skiprows=1, compression='gzip') #2015 country results

df_2018 = pd.read_csv(survey+"2018.csv.gz", usecols=['Country'], compression='gzip') #2016 country results

Lets have a look to number of unique countries in these two datasets.

In [613]:
# 2015 unique countries
print("Lenght of 2015:", len(df_2015.Country.unique()))
print("Lenght of 2018:", len(df_2018.Country.unique()))

Lenght of 2015: 157
Lenght of 2018: 181

There are different number of ccountries in each dataframe. Also there are some countries which have different naming in each one of these surveys. For example 'Viet Nam' in 2018 and 'Vietnam' in 2015 or 'Syria' in 2015 and 'Syrian Arab Republic' in 2018. Also there is 'un_subregion' column in 2016 results which not exist in other results. For this reason we have to modify columns values to have same value names and later we can categorize them like having **continent** or **subregion**.

In [614]:
# example of dis-similarity between country names in data sets.
unique_2018 =[]
for x in df_2018.Country.unique():
    unique_2018.append(x)

unique_2015 =[]
for x in df_2015.Country.unique():
    unique_2015.append(x)
    
for x in unique_2018:
    if x not in unique_2015:
        print(x,', ',end="")

Iran, Islamic Republic of... , Hong Kong , Other Country (Not Listed Above) , Micronesia , Yemen , Fiji , Burundi , Lesotho , Marshall Islands , Malawi , Libya , Guinea , CÃ´te d'Ivoire , Central African Rep , Monaco , Gambia , Palau , Grenada , Belize , Suriname , East Timor , Dominica , Saint Lucia , Niger , Guyana , Nauru , Mali , Liberia , Cape Verde , Eritrea , Guinea-Bissau ,

# Part I: Removing dissimilarity among datasets
 
 Removing differences in country names. Adding 'un-subregion' and 'Continent' to data sets by creating new datasets.

### Results from 2015

In [615]:
# columns to be used for reding 2015 results 
col_2015=['Country','Age','Gender',
          'Training & Education: BS in CS',
          'Training & Education: No formal training',
          'Training & Education: Some college, but no CS degree',
          'Training & Education: Masters in CS',
          'Training & Education: PhD in CS','Compensation',
          'Employment Status','Job Satisfaction']

# Reading selected columns
df_2015 = pd.read_csv("./surveys_results/survey_results_public_"+"2015.csv.gz", 
                      usecols=col_2015, skiprows=1, compression='gzip')

To find differnces in country names we check all the data sets with one unique list loaded from  **'country_continent.csv'** file. So we can add continent and subregion to data frame which miss it.

In [616]:
# loading list of countries and their properties
df_country = pd.read_csv('./country_continent.csv', encoding = "ISO-8859-1")

uniques =[]
for x in df_country.country.unique():
    uniques.append(x)

In [617]:
# checking which countries have different name from this list and modify them for 2015 results. 
# It seems in 2015 similarity is ok
unique_country =[]
for x in df_2015.Country.unique():
    unique_country.append(x)

for x in unique_country:
    if x not in uniques:
        print(x,'","',end="")

In [618]:
df_2015.Gender.unique()

array(['Male', 'Prefer not to disclose', 'Female', nan, 'Other'],
      dtype=object)

#### Education
In 2015 survey results university education level are separated in different cloumns. Lets create one column as **'FormalEducation'**.

In [619]:
#not_null_col = df_2015
edu_col = ['Training & Education: BS in CS','Training & Education: No formal training',
           'Training & Education: Some college, but no CS degree',
           'Training & Education: Masters in CS',
           'Training & Education: PhD in CS']

# This dictionary used to make consistency between all survey results
edu_value={'Training & Education: BS in CS':"Bachelor degree (BA, BS, B.Eng., etc.)",
          'Training & Education: No formal training':"I never completed any formal education",
          'Training & Education: Some college, but no CS degree':"Some college/university study without earning a degree",
          'Training & Education: Masters in CS':"Master degree (MA, MS, M.Eng., MBA, etc.)",
          'Training & Education: PhD in CS':"Other doctoral degree (Ph.D, Ed.D., etc.)"}

not_null_col = [] # store not null columns

# creating new column as 'Formal_Education' education and updating it's value
for col in edu_col:
    not_null_col = df_2015[col][df_2015[col].notnull()==True].index
    df_2015.loc[not_null_col,'Formal_Education']=edu_value[col]

In [620]:
# lets check FormalEducation column
df_2015['Formal_Education'].unique()

array(['Master degree (MA, MS, M.Eng., MBA, etc.)', nan,
       'Bachelor degree (BA, BS, B.Eng., etc.)',
       'I never completed any formal education',
       'Some college/university study without earning a degree',
       'Other doctoral degree (Ph.D, Ed.D., etc.)'], dtype=object)

Now we can drop the other 5 columns by having new **'FormalEducation'** column

In [621]:
# dropping education columns
df_2015.drop(columns=edu_col, inplace=True)

In [622]:
# Correcting N/A value of country to nan
#df_2015.loc[df_2015['Country']=='N/A', 'Country']=np.nan

In [623]:
np.sum(df_2015['Country'].isnull()==True)

807

#### Continent and subregion
Adding **'un_subregion'** and **'Continent'** columns for further comparison.

In [624]:
subregion=[]
continent=[] 
counter=0

check_nan = df_2015['Country'].isnull()

for i in range(df_2015.shape[0]):
    x = df_2015.iloc[i]['Country']
    if ~check_nan[i]:
        subregion.append(df_country.loc[df_country['country']==x,'sub_region'].tolist()[0])
        continent.append(df_country.loc[df_country['country']==x,'continent'].tolist()[0])
            
    else:
        subregion.append(np.nan)
        continent.append(np.nan)
        counter+=1

        
# Adding two lists to dataframe if their length are equal to dataframe size
if len(subregion)== df_2015.shape[0]:
    df_2015['UN_subregion']=subregion
else:
    print('error: subregion size mismatch')

        
if len(subregion)== df_2015.shape[0]:
        df_2015['Continent'] = continent
else:
        print('error: continent size mismatch')

#### Gender
To check the relation between gender and job satisfaction we categorize them in main 3 different categories: Male, Female and genderqueer

In [625]:
# The unique values in 2015 survey for gender is as follow
df_2015.Gender.unique()

array(['Male', 'Prefer not to disclose', 'Female', nan, 'Other'],
      dtype=object)

In [626]:
# Changing the 'Other' to 'genderqueer' to make consistency
df_2015.Gender.replace('Other', 'genderqueer', inplace=True)

#### Employment Status
For consistency between all other surveys we need to replace following values to new ones.

In [627]:
# Values in the 'Employment Status' which will be replaced by other values
col = ["I'm a student","Prefer not to disclose"]

# Modified values 
mod = ["Student", "Other"]

for i in range(len(col)):
    df_2015['Employment Status'].replace(col[i], mod[i], inplace=True)

#### Job satisfaction
To make answers be consistent between all the surveys, replace the values in job satisfaction column as below:

In [628]:
col = ["I'm somewhat satisfied with my job",
       "I'm neither satisfied nor dissatisfied with my job",
       "I love my job",
       "I'm somewhat dissatisfied with my job",
       "I hate my job",
       "Other (please specify)"]

mod = ["Moderately satisfied",
       "Neither satisfied nor dissatisfied",
       "Extremely satisfied",
       "Slightly dissatisfied",
       "Extremely dissatisfied",
       "Other"]

for i in range(len(col)):
    df_2015['Job Satisfaction'].replace(col[i], mod[i], inplace=True)

#### Renaming columns

In [629]:
df_2015.columns

Index(['Country', 'Age', 'Gender', 'Compensation', 'Employment Status',
       'Job Satisfaction', 'Formal_Education', 'UN_subregion', 'Continent'],
      dtype='object')

In [630]:
df_2015.rename(columns={'Age':'Age_Range', 
                        'Compensation':'Salary_Range',
                        'Employment Status':'Employment_Status', 
                        'Job Satisfaction':'Job_Satisfaction'}, inplace=True)

#### Last thing : saving new dataframe df_2015 for further analysis

In [631]:
# saving prepared dataframe into new CSV file
df_2015.to_csv(mod_df+"2015.csv.gz", index=False, header=True, compression='gzip')

In [632]:
df_2017.columns

Index(['Country', 'Employment_Status', 'Formal_Education', 'Company_Size',
       'Job_Satisfaction', 'Gender', 'ExpectedSalary', 'UN_subregion',
       'Continent', 'Salary_Range'],
      dtype='object')

<hr style="border:1px solid lightblue"> </hr>

### Results from 2016

In [633]:
# reading dataframe
col_2016=['country','un_subregion','age_range','gender',
          'salary_range','employment_status',
          'company_size_range','job_satisfaction','education']

df_2016 =  pd.read_csv(survey+'2016.csv.gz',usecols=col_2016, compression='gzip')

#### Country and Continent
First we make the country become same with our refrence also adding 'Continent' column to dataframe.

In [634]:
# checking which countries have different name from this list and modify them for 2016 results. 
# It seems in 2015 similarity is ok
unique_country =[]
for x in df_2016.country.unique():
    unique_country.append(x)

for x in unique_country:
    if x not in uniques:
        print(x,'","',end="")

Other (please specify) ","

There is only one difference **'Other (please specify)'**. If any cell value in country column  **'un_subregion'**

In [635]:
# Finding index of the rows with 'Other (please specify)'
index = df_2016[df_2016['country']=='Other (please specify)'].index

# changing their value to 'Other'
df_2016.loc[index,'country'] = 'Other'

In [636]:
subregion=[]
continent=[] 
counter=0

check_nan = df_2016['country'].isnull()

for i in range(df_2016.shape[0]):
    x = df_2016.iloc[i]['country']
    if ~check_nan[i]:
        subregion.append(df_country.loc[df_country['country']==x,'sub_region'].tolist()[0])
        continent.append(df_country.loc[df_country['country']==x,'continent'].tolist()[0])
            
    else:
        subregion.append(np.nan)
        continent.append(np.nan)
        counter+=1

        
# Adding two lists to dataframe if their length are equal to dataframe size
if len(subregion)== df_2016.shape[0]:
    df_2016['UN_subregion']=subregion
else:
    print('error: subregion size mismatch')

        
if len(subregion)== df_2016.shape[0]:
        df_2016['Continent'] = continent
else:
        print('error: continent size mismatch')

In [637]:
# If continent and subregion added as without any problem we drop old un_subregion column
df_2016.drop(columns=['un_subregion'], inplace=True)

#### Employment status
There is only one difference between 2015 and 2016 employment status and it's the 'Other' and 'Other (please specify)'. Lets make it be 'Other'.

In [638]:
# for employment status make consistency between their values
df_2016.employment_status.loc[df_2016.employment_status=='Other (please specify)'] = 'Other'

#### Formal Education
In 2016 results the field of education have multiple decisions as string in each row. We need to make a new 'FormalEducation' column with selected option from the list.

In [639]:
# example of concatanated example
df_2016.education[1]

"I'm self-taught; On-the-job training; B.S. in Computer Science (or related field)"

In [640]:
# load all unique education strings from the dataframe
edu_strings = df_2016.education.unique()

# separate strings found by split function
splited_list = []

for edu in edu_strings:
    if type(edu) != int and type(edu) != float:
        for x in edu.split('; '):
            if x not in splited_list:
                splited_list.append(x)

In [641]:
# Founded unique strings
splited_list

["I'm self-taught",
 'On-the-job training',
 'B.S. in Computer Science (or related field)',
 'Online class (e.g. Coursera, Codecademy, Khan Academy, etc.)',
 'B.A. in Computer Science (or related field)',
 'Masters Degree in Computer Science (or related field)',
 'Some college coursework in Computer Science (or related field)',
 'Full-time, intensive program (e.g. "boot-camp")',
 'Industry certification program',
 'PhD in Computer Science (or related field)',
 'Part-time program (e.g. night school)',
 'Mentorship program (e.g. Flatiron School, GDI, etc.)']

Now wee need to check each column and put the match into 'FormalEducation' list to be similar to 2015 results.

In [642]:
# Unique values in 2015 for fomal education
df_2015.Formal_Education.unique()

array(['Master degree (MA, MS, M.Eng., MBA, etc.)', nan,
       'Bachelor degree (BA, BS, B.Eng., etc.)',
       'I never completed any formal education',
       'Some college/university study without earning a degree',
       'Other doctoral degree (Ph.D, Ed.D., etc.)'], dtype=object)

In [643]:
# dictionary for equivalent string
edu_dic={"I'm self-taught": 'I never completed any formal education',
        'B.S. in Computer Science (or related field)':'Bachelor degree (BA, BS, B.Eng., etc.)',
        'B.A. in Computer Science (or related field)':'Bachelor degree (BA, BS, B.Eng., etc.)',
        'Masters Degree in Computer Science (or related field)':'Master degree (MA, MS, M.Eng., MBA, etc.)',
        'PhD in Computer Science (or related field)':'Other doctoral degree (Ph.D, Ed.D., etc.)'}

# check if key exist in a dictionary or not
def checkKey(dict, key):
    if key in dict.keys():
        return True
    else:
        return False

# finding equivalent degree for each syrvey result
formal_edu=[]
for edu_str in df_2016.education:
    if type(edu_str) != int and type(edu_str) != float:
        edu_list = edu_str.split('; ')
        check = True
        value=''
        for x in edu_list:
            if checkKey(edu_dic, x) and check:
                check=False
                value=edu_dic[x]
        if check:
            formal_edu.append('I never completed any formal education')
        else:
            formal_edu.append(value)
    else:
        formal_edu.append(np.nan)

# Adding new column as 'FormalEducation' to dataframe
if len(formal_edu) == df_2016.shape[0]:
    df_2016['Formal_Education'] = formal_edu
    print('New column succesfully added')
else:
    print('error: size mismatch to add new column')

New column succesfully added

#### Company Size
Now we check the company size values and make it consistent to what we need

In [644]:
df_2016.company_size_range.unique()

array([nan, '100-499 employees', 'I am not part of a company',
       '10-19 employees', '5-9 employees', '20-99 employees',
       '1-4 employees', '500-999 employees', '1,000-4,999 employees',
       '10,000+ employees', '5,000-9,999 employees', 'I am not sure',
       'Other (please specify)'], dtype=object)

In [645]:
# change the column values
col = ["100-499 employees","I am not part of a company","10-19 employees",
       "5-9	employees","20-99 employees","1-4 employees",
       "500-999 employees","1,000-4,999 employees","10,000+ employees",
       "5,000-9,999 employees","I am not sure","Other (please specify)"] #Changing thses to new one

# Modified values
mod = ["100-500","I am not part of a company",
       "10-19","<10","20-99","<10","500-999",
       "1000","10000+","5000-9999","I am not sure",
       "I prefer not to answer"]

for i in range(len(col)):
    df_2016.company_size_range.replace(col[i], mod[i], inplace=True)

In [646]:
df_2016.salary_range.unique()
df_2015.columns

Index(['Country', 'Age_Range', 'Gender', 'Salary_Range', 'Employment_Status',
       'Job_Satisfaction', 'Formal_Education', 'UN_subregion', 'Continent'],
      dtype='object')

In [647]:
df_2016.salary_range.replace('Other (please specify)','Other', inplace=True)

#### Job satisfaction
Change the values of job satisfaction column for consistency:

In [648]:
col = ["I love my job",
       "I don't have a job",
       "I'm somewhat satisfied with my job",
       "I'm somewhat dissatisfied with my job",
       "I'm neither satisfied nor dissatisfied",
       "I hate my job",
       "Other (please specify)"]

mod =["Extremely dissatisfied",
      "Other",
      "Moderately satisfied",
      "Slightly dissatisfied",
      "Neither satisfied nor dissatisfied",
      "Extremely dissatisfied",
      "Other"]

for i in range(len(col)):
    df_2016.job_satisfaction.replace(col[i], mod[i], inplace=True)

#### Renaming and dropping unused columns

In [649]:
df_2016.columns

Index(['country', 'age_range', 'gender', 'salary_range', 'employment_status',
       'company_size_range', 'job_satisfaction', 'education', 'UN_subregion',
       'Continent', 'Formal_Education'],
      dtype='object')

In [650]:
df_2016.rename(columns={'country':'Country',
                       'age_range':'Age_Range',
                       'gender':'Gender',
                       'salary_range':'Salary_Range',
                       'employment_status':'Employment_Status',
                       'company_size_range':'Company_Size',
                       'job_satisfaction':'Job_Satisfaction'},
              inplace=True)

In [651]:
df_2016.drop(columns=['education'], inplace=True)

#### Saving the dataframe for later analysis

In [652]:
# saving prepared dataframe into new CSV file
df_2016.to_csv(mod_df+"2016.csv.gz", index=False, header=True, compression='gzip')

<hr style="border:1px solid lightblue"> </hr>

### Results from 2017

We again check the dataframe to find dissimilarities and find a way to correct them

In [653]:
# columns that could be helpfull in analyzing this dataset
col_2017 = ['Country','EmploymentStatus','FormalEducation','CompanySize', 
            'CareerSatisfaction','JobSatisfaction','Gender',
            'Salary','ExpectedSalary']

# reading data from CSV file
df_2017 =  pd.read_csv(survey+'2017.csv.gz',usecols=col_2017, compression='gzip')

In [654]:
# checking which countries have different name from this list and modify them for 2016 results. 
# It seems in 2015 similarity is ok
unique_country =[]
for x in df_2017.Country.unique():
    unique_country.append(x)

for x in unique_country:
    if x not in uniques:
        print(x,'","',end="")

I prefer not to say ","Moldavia ","Ireland ","Aland Islands ","New Caledonia (French) ","U.S. Minor Outlying Islands ","Polynesia (French) ","French Guyana ","Pitcairn Island ","Antigua and Barbuda ","Martinique (French) ","Heard and McDonald Islands ","

In [655]:
# Dissimilarities
col = ["I prefer not to say","Moldavia","Ireland","Aland Islands",
       "New Caledonia (French)","U.S. Minor Outlying Islands",
       "Polynesia (French)","French Guyana","Pitcairn Island","Antigua and Barbuda",
       "Martinique (French)","Macau","Heard and McDonald Islands"] # Columns have naming difference

# Modification
mod =["Other","Moldova","Ireland {Republic}","Ãland Islands","New Caledonia",
      "United States Minor Outlying Islands","French Polynesia","Guyana",
      "Pitcairn","Antigua & Deps","Martinique","Macau","Heard and Island and McDonald Islands"]

for i in range(len(col)):
    df_2017.replace(to_replace=col[i], value=mod[i], inplace=True )

First check country and add subregion and continent to it.

In [656]:
subregion=[]
continent=[] 
counter=0

check_nan = df_2017['Country'].isnull()

for i in range(df_2017.shape[0]):
    x = df_2017.iloc[i]['Country']
    if ~check_nan[i]:
        subregion.append(df_country.loc[df_country['country']==x,'sub_region'].tolist()[0])
        continent.append(df_country.loc[df_country['country']==x,'continent'].tolist()[0])
            
    else:
        subregion.append(np.nan)
        continent.append(np.nan)
        counter+=1

        
# Adding two lists to dataframe if their length are equal to dataframe size
if len(subregion)== df_2017.shape[0]:
    df_2017['UN_subregion']=subregion
else:
    print('error: subregion size mismatch')

        
if len(subregion)== df_2017.shape[0]:
        df_2017['Continent'] = continent
else:
        print('error: continent size mismatch')

#### Company size
Changing company size to be consistent

In [657]:
df_2017['CompanySize'].unique()

array([nan, '20 to 99 employees', '10,000 or more employees',
       '10 to 19 employees', 'Fewer than 10 employees',
       '5,000 to 9,999 employees', '100 to 499 employees',
       '1,000 to 4,999 employees', '500 to 999 employees', "I don't know",
       'I prefer not to answer', 'Brunei'], dtype=object)

In [658]:
# change the column values
col = ["20 to 99 employees","10,000 or more employees","10 to 19 employees",
       "Fewer than 10 employees","5,000 to 9,999 employees","100 to 499 employees",
       "1,000 to 4,999 employees","500 to 999 employees",
       "I don't know","I prefer not to answer","Brunei"] #Changing thses to new one

# Modified values
mod = ["20-99","10000+","10-19","<10","5000-9999",
       "100-499","1000-5000","500-1000",
       "I don't know","I prefer not to answer","nan"]

# Replace them with new values
for i in range(len(col)):
    df_2017.CompanySize.replace(col[i], mod[i], inplace=True)

In [477]:
# new Values
df_2017.CompanySize.unique()

array([nan, '20-99', '10000+', '10-19', '<10', '5000-9999', '100-499',
       '1000-5000', '500-1000', "I don't know", 'I prefer not to answer',
       'nan'], dtype=object)

#### Job satisfaction
In this survey questionier was asked to answer with number between 0 to 10. Changing this evaluation with values as below:

In [478]:
col = [i for i in range(11)]

mod =["Extremely dissatisfied","Extremely dissatisfied",
      "Moderately dissatisfied","Moderately dissatisfied",
      "Neither satisfied nor dissatisfied","Neither satisfied nor dissatisfied",
      "Slightly satisfied",
      "Moderately satisfied","Moderately satisfied",
      "Extremely satisfied","Extremely satisfied"]

for i in range(len(col)):
    df_2017.JobSatisfaction.replace(col[i], mod[i], inplace=True)

#### Slary Range
In 2017 survey results the values are numeric and there is no range. So we add 'Salary_range' column to it.

In [479]:
# Adding the column
df_2017['Salary_Range']=np.nan

salary=10000
step =10000
up_bound=200000

# using the following dictionary to replace values
dic = {40000:"$40,000 - $50,000",
        200000:"More than $200,000",
        10000:"$10,000 - $20,000",
        90000:"$90,000 - $100,000",
        30000:"$30,000 - $40,000",
        20000:"$20,000 - $30,000",
        70000:"$70,000 - $80,000",
        80000:"$80,000 - $90,000",
        50000:"$50,000 - $60,000",
        60000:"$60,000 - $70,000",
        140000:"$140,000 - $150,000",
        130000:"$130,000 - $140,000",
        100000:"$100,000 - $110,000",
        110000:"$110,000 - $120,000",
        160000:"$160,000 - $170,000",
        180000:"$180,000 - $190,000",
        120000:"$120,000 - $130,000",
        150000:"$150,000 - $160,000",
        190000:"$190,000 - $200,000",
        170000:"$170,000 - $180,000"}

# for less than $10,000 salary
index = df_2017.Salary[df_2017.Salary < 10000.0].index
df_2017.loc[index,'Salary_Range']= 'Less than $10,000'

# Between $10,000 to $190,000
while salary <= up_bound:
    index = df_2017.Salary[(df_2017['Salary'] >= salary) & (df_2017['Salary'] < salary+step)].index
    df_2017.loc[index,'Salary_Range']= dic[salary]
    salary+=step

In [480]:
# number of null values
np.sum(df_2017.Salary_Range.isnull())

38501

There are two columns **'Salary'** and **'ExpectedSalary'** in 2017 results data sets. There are cases which **'Salary'** is **nan** but there is value for expected salary. It's not bad idea to use that value as salary when its nan.

In [481]:
salary=10000
step =10000
up_bound=200000


df_temp = df_2017[(df_2017['ExpectedSalary'] != np.nan) & (df_2017['ExpectedSalary'] < 10000)]
index = df_temp.Salary.isnull().index
df_2017.loc[index,'Salary_Range']= 'Less than $10,000'

# Between $10,000 to $190,000
while salary <= up_bound:
    df_temp = df_2017[(df_2017['ExpectedSalary']  >= salary) & (df_2017['ExpectedSalary'] < salary+step)]
    index   = df_temp.Salary.isnull().index
    #print(index)
    df_2017.loc[index,'Salary_Range']= dic[salary]
    salary+=step
    
    
#df_2017.loc[index,'Salary_range']= 'Less than $10,000'

In [483]:
# number of null values after considering ExpectedSalary
np.sum(df_2017.Salary_Range.isnull())

35935

In [484]:
df_2017.FormalEducation.unique()

array(['Secondary school',
       "Some college/university study without earning a bachelor's degree",
       "Bachelor's degree", 'Doctoral degree', "Master's degree",
       'Professional degree', 'Primary/elementary school',
       'I prefer not to answer', 'I never completed any formal education'],
      dtype=object)

#### Renaming columns

In [486]:
df_2017.columns

Index(['Country', 'EmploymentStatus', 'FormalEducation', 'CompanySize',
       'CareerSatisfaction', 'JobSatisfaction', 'Gender', 'Salary',
       'ExpectedSalary', 'UN_subregion', 'Continent', 'Salary_Range'],
      dtype='object')

In [487]:
df_2017.rename(columns={'EmploymentStatus':'Employment_Status',
                       'FormalEducation':'Formal_Education',
                       'CompanySize':'Company_Size',
                       'JobSatisfaction':'Job_Satisfaction'},
              inplace=True)

In [488]:
df_2017.drop(columns=['CareerSatisfaction','Salary'], inplace=True)

#### Final step save the dataframe

In [151]:
# saving prepared dataframe into new CSV file
df_2017.to_csv(mod_df+"2017.csv.gz", index=False, header=True, compression='gzip')

<hr style="border:1px solid lightblue"> </hr>

### Results from 2018

In [536]:
# columns to be used for reding 2018 results 
col_2018 = ['Country','Employment','FormalEducation',
            'CompanySize','JobSatisfaction','CareerSatisfaction',
            'Salary','SalaryType','ConvertedSalary','Gender','Age']

df_2018 = pd.read_csv(survey+"2018.csv.gz", usecols=col_2018, compression='gzip')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8,12,13,52,53,120,124) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [537]:
np.sum(df_2018.ConvertedSalary.isnull())

51153

#### Country and continent
First thing first. Country and continent.

In [538]:
# checking which countries have different name from this list and modify them for 2016 results. 
# It seems in 2015 similarity is ok
unique_country =[]
for x in df_2018.Country.unique():
    unique_country.append(x)

for x in unique_country:
    if x not in uniques:
        print(x,'","',end="")

Iran, Islamic Republic of... ","Other Country (Not Listed Above) ","

In [539]:
# There is only two differences. lets solve them by replace command
df_2018.Country.replace("Iran, Islamic Republic of...", "Iran", inplace=True)
df_2018.Country.replace("Other Country (Not Listed Above)", "Other", inplace=True)

In [540]:
# Adding subregion and continent columns
subregion=[]
continent=[] 
counter=0

check_nan = df_2018['Country'].isnull()

for i in range(df_2018.shape[0]):
    x = df_2018.iloc[i]['Country']
    if ~check_nan[i]:
        subregion.append(df_country.loc[df_country['country']==x,'sub_region'].tolist()[0])
        continent.append(df_country.loc[df_country['country']==x,'continent'].tolist()[0])
            
    else:
        subregion.append(np.nan)
        continent.append(np.nan)
        counter+=1

        
# Adding two lists to dataframe if their length are equal to dataframe size
if len(subregion)== df_2018.shape[0]:
    df_2018['UN_subregion']=subregion
else:
    print('error: subregion size mismatch')

        
if len(subregion)== df_2018.shape[0]:
        df_2018['Continent'] = continent
else:
        print('error: continent size mismatch')

#### Company size
Changing the company size values

In [541]:
col = ["20 to 99 employees","10,000 or more employees","100 to 499 employees",
       "10 to 19 employees","500 to 999 employees",
       "1,000 to 4,999 employees","5,000 to 9,999 employees",
       "Fewer than 10 employees"]

mod = ["20-99","10000+","100-499","10-19","500-99","1000-4999","5000-9999","<10"]

for i in range(len(col)):
    df_2018.CompanySize.replace(col[i], mod[i], inplace=True)

#### Gender
There are different selection for Gende for each column. For see the affect of Gender on job satisfaction we group them in three different cases: Male, Female, genderqueer

In [542]:
df_2018.Gender.unique()

array(['Male', nan, 'Female',
       'Female;Male;Transgender;Non-binary, genderqueer, or gender non-conforming',
       'Female;Male',
       'Male;Non-binary, genderqueer, or gender non-conforming',
       'Non-binary, genderqueer, or gender non-conforming', 'Transgender',
       'Female;Transgender',
       'Transgender;Non-binary, genderqueer, or gender non-conforming',
       'Female;Non-binary, genderqueer, or gender non-conforming',
       'Female;Transgender;Non-binary, genderqueer, or gender non-conforming',
       'Male;Transgender', 'Female;Male;Transgender',
       'Female;Male;Non-binary, genderqueer, or gender non-conforming',
       'Male;Transgender;Non-binary, genderqueer, or gender non-conforming'],
      dtype=object)

In [543]:
# To make it consistent with other surveys we just limit gender to three categories: Male, Female, genderqueer
# replacing non-binary values with genderqueer 
index = df_2018[~df_2018['Gender'].isin(['Male', 'Female', np.nan])].index
df_2018.loc[index, 'Gender'] = 'genderqueer'

#### Salary range
Adding new column **'Salary_range'** to make consistency between datasets

In [544]:
#In 2018 survey results the values are numeric and there is no range. So we add 'Salary_range' column to it.

# Adding the column
df_2018['Salary_range']=np.nan

salary=10000
step =10000
up_bound=200000

# using the following dictionary to replace values
dic = {40000:"$40,000 - $50,000",
        200000:"More than $200,000",
        10000:"$10,000 - $20,000",
        90000:"$90,000 - $100,000",
        30000:"$30,000 - $40,000",
        20000:"$20,000 - $30,000",
        70000:"$70,000 - $80,000",
        80000:"$80,000 - $90,000",
        50000:"$50,000 - $60,000",
        60000:"$60,000 - $70,000",
        140000:"$140,000 - $150,000",
        130000:"$130,000 - $140,000",
        100000:"$100,000 - $110,000",
        110000:"$110,000 - $120,000",
        160000:"$160,000 - $170,000",
        180000:"$180,000 - $190,000",
        120000:"$120,000 - $130,000",
        150000:"$150,000 - $160,000",
        190000:"$190,000 - $200,000",
        170000:"$170,000 - $180,000"}

# for less than $10,000 salary
index = df_2018.ConvertedSalary[(df_2018['ConvertedSalary'] < 10000.0) & (df_2018['ConvertedSalary'] != np.nan)].index
df_2018.loc[index,'Salary_range']= 'Less than $10,000'

# Between $10,000 to $190,000
while salary <= up_bound:
    index = df_2018.ConvertedSalary[(df_2018['ConvertedSalary'] >= salary) & (df_2018['ConvertedSalary'] < salary+step)].index
    df_2018.loc[index,'Salary_range']= dic[salary]
    salary+=step

#### Formal Education
To make consistency between values we replace (Rename) the values in dataframe as follow

In [545]:
col = ["Bachelorâs degree (BA, BS, B.Eng., etc.)",
       "Associate degree",
       "Some college/university study without earning a degree",
       "Masterâs degree (MA, MS, M.Eng., MBA, etc.)",
       "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",
       "Primary/elementary school","Professional degree (JD, MD, etc.)",
       "I never completed any formal education",
       "Other doctoral degree (Ph.D, Ed.D., etc.)"]

mod = ["Bachelor's degree",
       "Associate degree",
       "Some college/university study without earning a bachelor's degree",
       "Master's degree",
       "Secondary school",
       "Primary/elementary school",
       "Professional degree",
       "I never completed any formal education",
       "Doctoral degree"]


for i in range(len(col)):
    df_2018.FormalEducation.replace(col[i], mod[i], inplace=True)

#### Employment Status

In [546]:
col = ["Employed part-time","Employed full-time",
       "Independent contractor, freelancer, or self-employed,",
       "Not employed, and not looking for work,",
       "Not employed, but looking for work","Retired"]

mod = ["Employed part-time","Employed full-time",
       "Freelance / Contractor","Unemployed",
       "Unemployed, looking for work","Retired"]

for i in range(len(col)):
    df_2018.FormalEducation.replace(col[i], mod[i], inplace=True)

#### Renaming columns and drop

In [547]:
df_2018.columns

Index(['Country', 'Employment', 'FormalEducation', 'CompanySize',
       'JobSatisfaction', 'CareerSatisfaction', 'Salary', 'SalaryType',
       'ConvertedSalary', 'Gender', 'Age', 'UN_subregion', 'Continent',
       'Salary_range'],
      dtype='object')

In [548]:
df_2018.rename(columns={'Age':'Age_Range', 'FormalEducation':'Formal_Education',
                        'CompanySize':'Company_Size', 
                        'Employment':'Employment_Status',
                        'JobSatisfaction':'Job_Satisfaction',
                       'CareerSatisfaction':'Career_Satisfaction'},
              inplace=True)

In [549]:
df_2018.drop(columns=['Salary','SalaryType','ConvertedSalary'], inplace=True)

#### Saving 2018 dataframe

In [41]:
df_2018.to_csv(mod_df+"2018.csv.gz", index=False, header=True, compression='gzip')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [257]:
#df_2018.hist();

In [258]:
#sns.heatmap(df_2018.corr(), annot=True, fmt=".2f");

<hr style="border:1px solid lightblue"> </hr>

### Results from 2019

In [527]:
# Selected columns to read from 2019 dataset
col_2019 = ['Employment','Country','EdLevel','OrgSize','CareerSat','JobSat','ConvertedComp','Gender']

df_2019 = pd.read_csv(survey+"2019.csv.gz", usecols=col_2019, compression='gzip')

Lets check if there are any dissimilarity between country and the refrence we have. then add continent and subregion columns to dataframe.

In [528]:
# checking which countries have different name from this list and modify them for 2016 results. 
# It seems in 2015 similarity is ok
unique_country =[]
for x in df_2019.Country.unique():
    unique_country.append(x)

for x in unique_country:
    if x not in uniques:
        print(x,'","',end="")

Other Country (Not Listed Above) ","

In [529]:
df_2019.ConvertedComp.unique()

array([    nan,   8820.,  61000., ...,  38766.,  13272., 588012.])

#### Country and Continent
There is just one case and we replace it we 'Other'

In [530]:
df_2019.Country.replace('Other Country (Not Listed Above)', 'Other', inplace=True)

In [531]:
# Adding subregion and continent columns
subregion=[]
continent=[] 
counter=0

check_nan = df_2019['Country'].isnull()

for i in range(df_2019.shape[0]):
    x = df_2019.iloc[i]['Country']
    if ~check_nan[i]:
        subregion.append(df_country.loc[df_country['country']==x,'sub_region'].tolist()[0])
        continent.append(df_country.loc[df_country['country']==x,'continent'].tolist()[0])
            
    else:
        subregion.append(np.nan)
        continent.append(np.nan)
        counter+=1

        
# Adding two lists to dataframe if their length are equal to dataframe size
if len(subregion)== df_2019.shape[0]:
    df_2019['UN_subregion']=subregion
else:
    print('error: subregion size mismatch')

        
if len(subregion)== df_2019.shape[0]:
        df_2019['Continent'] = continent
else:
        print('error: continent size mismatch')

#### Formal Education

In [520]:
df_2019['Formal_Education'] = df_2019['EdLevel']

col = ["Primary/elementary school",
       "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",
       "Bachelorâs degree (BA, BS, B.Eng., etc.)",
       "Some college/university study without earning a degree",
       "Masterâs degree (MA, MS, M.Eng., MBA, etc.)",
       "Other doctoral degree (Ph.D, Ed.D., etc.)",
       "Associate degree",
       "Professional degree (JD, MD, etc.)",
       "I never completed any formal education"]

mod =["Primary/elementary school",
      "Secondary school",
      "Bachelor's degree",
      "Some college/university study without earning a bachelor's degree",
      "Master's degree",
      "Doctoral degree",
      "Associate degree",
      "Professional degree",
      "I never completed any formal education"]

for i in range(len(col)):
    df_2019.Formal_Education.replace(col[i], mod[i], inplace=True)

#### Emplyment Status 'Employment' colum

In [521]:
col = ["Not employed, and not looking for work",
       "Not employed, but looking for work","Employed full-time",
       "Independent contractor, freelancer, or self-employed",
       "Employed part-time","Retired"]

mod = ["Unemployed","Unemployed, looking for work","Employed full-time",
       "Freelance / Contractor",
       "Employed part-time","Retired"]

for i in range(len(col)):
    df_2019.FormalEducation.replace(col[i], mod[i], inplace=True)

#### Salary
In 2019 survey results there is column as 'ConvertedComp' that asked persons to enter their total salary as dollor. We use that column for creating **'Salary_range'** column.

In [522]:
# Adding the column
df_2019['Salary_range']=np.nan

salary=10000
step =10000
up_bound=200000

# using the following dictionary to replace values
dic = {40000:"$40,000 - $50,000",
        200000:"More than $200,000",
        10000:"$10,000 - $20,000",
        90000:"$90,000 - $100,000",
        30000:"$30,000 - $40,000",
        20000:"$20,000 - $30,000",
        70000:"$70,000 - $80,000",
        80000:"$80,000 - $90,000",
        50000:"$50,000 - $60,000",
        60000:"$60,000 - $70,000",
        140000:"$140,000 - $150,000",
        130000:"$130,000 - $140,000",
        100000:"$100,000 - $110,000",
        110000:"$110,000 - $120,000",
        160000:"$160,000 - $170,000",
        180000:"$180,000 - $190,000",
        120000:"$120,000 - $130,000",
        150000:"$150,000 - $160,000",
        190000:"$190,000 - $200,000",
        170000:"$170,000 - $180,000"}

# for less than $10,000 salary
index = df_2019.ConvertedComp[(df_2019['ConvertedComp'] < 10000.0) & (df_2019['ConvertedComp'] != np.nan)].index
df_2019.loc[index,'Salary_range']= 'Less than $10,000'

# Between $10,000 to $190,000
while salary <= up_bound:
    index = df_2019.ConvertedComp[(df_2019['ConvertedComp'] >= salary) & (df_2019['ConvertedComp'] < salary+step)].index
    df_2019.loc[index,'Salary_range']= dic[salary]
    salary+=step

#### Rename and droping columns

In [523]:
df_2019.columns

Index(['Employment', 'Country', 'EdLevel', 'OrgSize', 'DevType', 'CareerSat',
       'JobSat', 'CompTotal', 'CompFreq', 'ConvertedComp', 'Gender',
       'Ethnicity', 'UN_subregion', 'Continent', 'FormalEducation',
       'Salary_range'],
      dtype='object')

In [524]:
df_2019.rename(columns={'Employment':'Employment_Status', 'EdLevel':'Formal_Education',
                       'OrgSize':'Company_Size', 'CareerSat':'Career_Satisfaction',
                       'JobSat':'Job_Satisfaction'},
              inplace=True)

In [525]:
df_2019.drop(columns=['DevType','CompTotal', 'CompFreq', 'ConvertedComp','Ethnicity'], inplace=True)

#### Saving new dataframe

In [526]:
df_2019.to_csv(mod_df+"2019.csv.gz", index=False, header=True, compression='gzip')

<hr style="border:1px solid lightblue"> </hr>

### Results from 2020

In [588]:
# Selected columns to read from 2020 dataset
col_2020 = ['Age','CompTotal','ConvertedComp','Country',
            'EdLevel','Employment','Gender',
            'JobSat']

df_2020 = pd.read_csv(survey+"2020.csv.gz", usecols=col_2020, compression='gzip')

In [589]:
df_2020.CompTotal.unique()

array([          nan, 1.1600000e+05, 2.5000000e+04, ..., 1.2775000e+07,
       2.7170564e+07, 4.3100000e+06])

In [590]:
np.sum(df_2020['ConvertedComp'].isnull())

29705

#### Country and contint
There is one difference between the refrence list of countries and 2020 dataset **'Nomadic'** with 31 instance. We replace it with 'Other' to make it consistent

In [591]:
# checking which countries have different name from this list and modify them for 2016 results. 
# It seems in 2015 similarity is ok
unique_country =[]
for x in df_2020.Country.unique():
    unique_country.append(x)

for x in unique_country:
    if x not in uniques:
        print(x,'","',end="")

Nomadic ","

In [592]:
#of differences between country continent refrence and 2020 dataset
index = df_2020[df_2020.Country == 'Nomadic'].index
len(index)

31

In [593]:
df_2020.loc[index, 'Country'] = 'Other'

In [594]:
# Adding subregion and continent columns
subregion=[]
continent=[] 
counter=0

check_nan = df_2020['Country'].isnull()

for i in range(df_2020.shape[0]):
    x = df_2020.iloc[i]['Country']
    if ~check_nan[i]:
        subregion.append(df_country.loc[df_country['country']==x,'sub_region'].tolist()[0])
        continent.append(df_country.loc[df_country['country']==x,'continent'].tolist()[0])
            
    else:
        subregion.append(np.nan)
        continent.append(np.nan)
        counter+=1

        
# Adding two lists to dataframe if their length are equal to dataframe size
if len(subregion)== df_2020.shape[0]:
    df_2020['UN_subregion']=subregion
else:
    print('error: subregion size mismatch')

        
if len(subregion)== df_2020.shape[0]:
        df_2020['Continent'] = continent
else:
        print('error: continent size mismatch')

#### Emplyment Status 'Employment' colum
Checking the employment status values and make them consistent with other dataframes

In [595]:
df_2020['Employment'].unique()

array(['Independent contractor, freelancer, or self-employed',
       'Employed full-time', nan, 'Student',
       'Not employed, but looking for work', 'Employed part-time',
       'Retired', 'Not employed, and not looking for work'], dtype=object)

In [596]:
col = ["Independent contractor, freelancer, or self-employed",
       "Employed full-time","Student","Not employed, but looking for work",
       "Employed part-time","Retired","Not employed, and not looking for work"]

mod = ["Freelance / Contractor","Employed full-time",
       "Student","Unemployed, looking for work",
       "Employed part-time","Retired","Unemployed"]

for i in range(len(col)):
    df_2020.Employment.replace(col[i], mod[i], inplace=True)

#### Formal Education

In [597]:
df_2020.EdLevel.unique()

array(['Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)',
       'Bachelorâs degree (B.A., B.S., B.Eng., etc.)', nan,
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       'Professional degree (JD, MD, etc.)',
       'Some college/university study without earning a degree',
       'Associate degree (A.A., A.S., etc.)',
       'Other doctoral degree (Ph.D., Ed.D., etc.)',
       'Primary/elementary school',
       'I never completed any formal education'], dtype=object)

In [598]:
col =["Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",
      "Bachelorâs degree (B.A., B.S., B.Eng., etc.)",
      "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",
      "Professional degree (JD, MD, etc.)",
      "Some college/university study without earning a degree",
      "Associate degree (A.A., A.S., etc.)",
      "Other doctoral degree (Ph.D., Ed.D., etc.)",
      "Primary/elementary school",
      "I never completed any formal education"]

mod = ["Master's degree","Bachelor's degree","Secondary school",
       "Professional degree","Some college/university study without earning a bachelor's degree",
       "Associate degree","Doctoral degree",
       "Primary/elementary school","I never completed any formal education"]

for i in range(len(col)):
    df_2020.EdLevel.replace(col[i], mod[i], inplace=True)

#### Gender
In 2020 serveys answers for person gender are one of the following cases. For make it consistent we modify the column as follow.

In [599]:
df_2020.Gender.unique()

array(['Man', nan, 'Woman',
       'Man;Non-binary, genderqueer, or gender non-conforming',
       'Non-binary, genderqueer, or gender non-conforming',
       'Woman;Non-binary, genderqueer, or gender non-conforming',
       'Woman;Man;Non-binary, genderqueer, or gender non-conforming',
       'Woman;Man'], dtype=object)

In [600]:
# Replacing 'Man' with 'Male'
df_2020.Gender.replace('Man', 'Male', inplace=True)

# Replacing 'Woman' with 'Female'
df_2020.Gender.replace('Woman', 'Female', inplace=True)

# Replacing other fields with 'genderqueer'
index = df_2020[~df_2020['Gender'].isin(['Male', 'Female', np.nan])].index
df_2020.loc[index, 'Gender'] = 'genderqueer'

#### Salary range

In [601]:
# Adding the column
df_2020['Salary_Range']=np.nan

salary=10000
step =10000
up_bound=200000

# using the following dictionary to replace values
dic = {40000:"$40,000 - $50,000",
        200000:"More than $200,000",
        10000:"$10,000 - $20,000",
        90000:"$90,000 - $100,000",
        30000:"$30,000 - $40,000",
        20000:"$20,000 - $30,000",
        70000:"$70,000 - $80,000",
        80000:"$80,000 - $90,000",
        50000:"$50,000 - $60,000",
        60000:"$60,000 - $70,000",
        140000:"$140,000 - $150,000",
        130000:"$130,000 - $140,000",
        100000:"$100,000 - $110,000",
        110000:"$110,000 - $120,000",
        160000:"$160,000 - $170,000",
        180000:"$180,000 - $190,000",
        120000:"$120,000 - $130,000",
        150000:"$150,000 - $160,000",
        190000:"$190,000 - $200,000",
        170000:"$170,000 - $180,000"}

# for less than $10,000 salary
index = df_2020.ConvertedComp[(df_2020['ConvertedComp'] < 10000.0) & (df_2020['ConvertedComp'] != np.nan)].index
df_2019.loc[index,'Salary_Range']= 'Less than $10,000'

# Between $10,000 to $190,000
while salary <= up_bound:
    index = df_2020.ConvertedComp[(df_2020['ConvertedComp'] >= salary) & (df_2020['ConvertedComp'] < salary+step)].index
    df_2020.loc[index,'Salary_Range']= dic[salary]
    salary+=step

In [602]:
df_2020.columns

Index(['Age', 'CompTotal', 'ConvertedComp', 'Country', 'EdLevel', 'Employment',
       'Gender', 'JobSat', 'UN_subregion', 'Continent', 'Salary_Range'],
      dtype='object')

#### Age Range
This datasets has ages in number. To be able to caterize them we create new columns as **'Age_Range'** and use df_2018 way to classify items.

In [603]:
df_2018.Age_Range.unique()

array(['25 - 34 years old', '35 - 44 years old', nan, '18 - 24 years old',
       '45 - 54 years old', '55 - 64 years old', 'Under 18 years old',
       '65 years or older'], dtype=object)

In [604]:
# Empty nan column added for category
df_2020['Age_Range']=np.nan

# Under 18 years old
index = df_2020[(df_2020['Age'] < 18) & (df_2020['Age'] != np.nan)].index
df_2020.loc[index, 'Age_Range'] = 'Under 18 years old'

In [605]:
# 65 years or older 
index = df_2020[(df_2020['Age'] >= 65) & (df_2020['Age'] != np.nan)].index
df_2020.loc[index, 'Age_Range'] = '65 years or older'

In [606]:
age_dic={(18,24):"18 - 24 years old",
         (25,34):"25 - 34 years old",
         (35,44):"35 - 44 years old",
         (45,54):"45 - 54 years old",
         (55,64):"55 - 64 years old",}

for key in age_dic.keys():
    low = key[0]
    up =key[1]
    index = df_2020[(df_2020['Age'] >= low) & (df_2020['Age'] <= up)].index
    df_2020.loc[index, 'Age_Range'] = age_dic[key]

In [610]:
df_2020.columns

Index(['Country', 'Formal_Education', 'Employment_Status', 'Gender',
       'Job_Satisfaction', 'UN_subregion', 'Continent', 'Salary_Range',
       'Age_Range'],
      dtype='object')

#### Renaming and dropping

In [609]:
# Renaming selected columns
df_2020.rename(columns={'EdLevel':'Formal_Education',
                       'Employment':'Employment_Status',
                       'JobSat':'Job_Satisfaction'}, inplace=True)

In [608]:
df_2020.drop(columns=['Age', 'CompTotal', 'ConvertedComp'], inplace=True)

#### Saving 2020 dataframe

In [ ]:
df_2020.to_csv(mod_df+"2020.csv.gz", index=False, header=True, compression='gzip')

#### Concat all the dataframes
To make it easier to compare the data at once, add column named year to each dataframe and then concatenate them in one dataset.

In [671]:
df_2015['Year']=2015
df_2016['Year']=2016
df_2017['Year']=2017
df_2018['Year']=2018
df_2019['Year']=2019
df_2020['Year']=2020

df_all = pd.concat([df_2015,df_2016, df_2017, df_2018, df_2019, df_2020])

In [673]:
df_all

,Country,Age_Range,Gender,Salary_Range,Employment_Status,Job_Satisfaction,Formal_Education,UN_subregion,Continent,Year,...,JobSatisfaction,Salary,ExpectedSalary,Employment,EdLevel,OrgSize,CareerSat,JobSat,ConvertedComp,Salary_range
0,Croatia,25-29,Male,"$20,000 - $40,000",Employed full-time,Moderately satisfied,"Master degree (MA, MS, M.Eng., MBA, etc.)",Southern Europe,Europe,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,France,20-24,Male,"$20,000 - $40,000",Employed full-time,Neither satisfied nor dissatisfied,"Master degree (MA, MS, M.Eng., MBA, etc.)",Western Europe,Europe,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,India,20-24,Male,"$80,000 - $100,000",Freelance / Contractor,Moderately satisfied,NaN,Southern Asia,Asia,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Latvia,25-29,Male,NaN,Employed full-time,Moderately satisfied,"Bachelor degree (BA, BS, B.Eng., etc.)",Northern Europe,Europe,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Norway,30-34,Male,"$60,000 - $80,000",Employed full-time,Extremely satisfied,"Bachelor degree (BA, BS, B.Eng., etc.)",Northern Europe,Europe,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,United States,NaN,NaN,NaN,Employed full-time,NaN,Master's degree,Northern America,Americas,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64457,Morocco,NaN,NaN,NaN,Employed full-time,NaN,NaN,Northern Africa,Africa,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,Vietnam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,South-Eastern Asia,Asia,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,Poland,NaN,NaN,NaN,Employed full-time,NaN,NaN,Eastern Europe,Europe,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64460,Spain,NaN,NaN,NaN,Employed full-time,NaN,Doctoral degree,Southern Europe,Europe,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Saving concatenated dataframe

In [674]:
df_all.to_csv(mod_df+"all_years.csv.gz", index=False, header=True, compression='gzip')